
  .detailE {
    background-color: hsl(256, 87%, 12%);
    min-height: 100%;
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-content: stretch;
  }
  
  
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 5 px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    margin: -5px 0 0 -5px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
  .detailContainer {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  
  .detailContent {
    display: flex;
    background-color: rgba(0, 0, 0, 0.89);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5rem 0;
    width: 40%;
    height: 20%;
  }
  
  .objDetail{
      width: 50%;
      margin: 2rem;
  }
  .obj2Detail{
      width: 100%;
      justify-content: flex-start;
      text-align: start;
      margin-left: 5rem;
  }
  
  .activitiesDetail{
      background-color: rgb(41, 41, 41);
      width: 80%;
      margin: 2rem 0;
      border: solid white;
  }
  
  .obj3Detail{
      width: 100%;
      justify-content: flex-start;
      text-align: start;
      margin: 0 5rem;
  }
  