.infoConteiner {

  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-end;
  height: 50%;
}

.cardImg {
  width: 30%;
}

.content {
  margin: 1rem 0 0 0;
}
.cardContainer {
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-color: #009dbd;
  width: 17vw;
  height: 17rem;
  margin: 1px 0 2px 0;
  display: flex;
  font-size: large;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-bottom: 16px;
}
.cardContainer:hover{
box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
transform: translateY(-3px);
}



.infoConteiner {

  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-end;
  height: 50%;
}

.cardImg {
  width: 30%;
}

.content {
  margin: 1rem 0 0 0;
}
